.flex {
    display: flex;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.btn {
    display: flex;

    align-items: center;
    justify-content: center;


    cursor: pointer;

    border: none;

    background: var(--bg-tertiary);

    padding: 16px;
    gap: 8px;

    height: 56px;
    width: 320px;

    overflow: hidden;

    border-radius: 8px;

    font-family : "Roboto flex" ;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    text-transform: uppercase;
    color: var(--content-primary);

    transition: all 0.3s ease;


    &:hover {
        transform: scale(1.05);
        background: var(bg-secondary);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}

.new-draw:hover {
    transform: scale(1.05);
    background: var(bg-secondary);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.none {
    display: none !important;
}